<div class="action-area">
    <button mat-fab extended (click)="addProduct()">
        <mat-icon>add</mat-icon>
        Add Product
    </button>

    <button mat-fab extended (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</div>

<div class="product-list">
    <mat-card *ngFor="let product of products$ | async" class="product-card">
        <mat-card-header>
            <mat-card-title [matTooltip]="product.title">{{ product.title | truncate : 20 }}</mat-card-title>
            <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="product.image" alt="{{ product.title }}">
        <mat-card-content>
            <p>{{ product.description | truncate : 72 }}</p>
            <p><strong>Price:</strong> {{ product.price | currency }}</p>
            <p><strong>Rating:</strong> {{ product.rating?.rate }}</p>
            <p><strong>Count:</strong> {{ product.rating?.count }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button (click)="viewProduct(product.id)">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="editProduct(product.id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteProduct(product.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>